name: version-release
on:
  # Permite la ejecución manual desde la pestaña Actions
  workflow_dispatch:
    inputs:
      manual_version:
        description: 'Versión de la app (ej: 1.0.0)'
        required: true
        default: '1.0.0'
#on:
#  push:
#    tags:
#      - "v*"

jobs:
  version:
    name: Create version number
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Extract version
        id: extract_version
        run: |
          # Si es manual, usa el input. Si es por tag, extrae del tag.
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            echo "version=${{ github.event.inputs.manual_version }}" >> $GITHUB_ENV
          else
            echo "version=$(echo ${{ github.ref }} | sed -e 's/^refs\/tags\/v//' -e 's/-.*//')" >> $GITHUB_ENV
          fi
      - name: Write version to file
        run: echo $version > version.txt
      - name: Upload version.txt
        uses: actions/upload-artifact@v4
        with:
          name: gitversion
          path: version.txt

  build_ios:
    name: Build IPA
    needs: [version]
    runs-on: macos-15
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Select Xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 16.4.0
      - name: Install the Apple certificate and provisioning profile
        env:
          BUILD_CERTIFICATE_BASE64: ${{ secrets.APPSTORE_BUILD_CERTIFICATE_BASE64 }}
          P12_PASSWORD: ${{ secrets.APPSTORE_P12_PASSWORD }}
          BUILD_PROVISION_PROFILE_BASE64: ${{ secrets.APPSTORE_BUILD_PROVISION_PROFILE_BASE64 }}
          BUILD_SHARE_EXT_PROVISION_PROFILE_BASE64: ${{ secrets.APPSTORE_BUILD_SHARE_EXT_PROVISION_PROFILE_BASE64 }}
          KEYCHAIN_PASSWORD: ${{ secrets.APPSTORE_KEYCHAIN_PASSWORD }}
        run: |
          # create variables
          CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
          PP_PATH=$RUNNER_TEMP/build_pp.mobileprovision
          SE_PP_PATH=$RUNNER_TEMP/se_build_pp.mobileprovision
          KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db
          
          # import certificate and provisioning profile from secrets
          echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode -o $CERTIFICATE_PATH
          echo -n "$BUILD_PROVISION_PROFILE_BASE64" | base64 --decode -o $PP_PATH
          echo -n "$BUILD_SHARE_EXT_PROVISION_PROFILE_BASE64" | base64 --decode -o $SE_PP_PATH
          
          # create temporary keychain
          security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          
          # import certificate to keychain
          security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security list-keychain -d user -s $KEYCHAIN_PATH
          
          # apply provisioning profile
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          cp $PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles
          cp $SE_PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.29.0'
          channel: 'stable'
          cache: true
      - name: Flutter doctor
        run: flutter doctor -v

      - name: Reset + install iOS pods (correct order)
        run: |
          flutter clean
          flutter pub get
          
          rm -rf ios/Pods ios/Podfile.lock
          cd ios
          pod deintegrate
          pod repo update
          pod install --repo-update
          cd ..
      - name: Flutter precache
        run: flutter precache --ios

      - name: Install flutterfire CLI
        run: |
          dart pub global activate flutterfire_cli
          echo "$HOME/.pub-cache/bin" >> $GITHUB_PATH

      - name: Extract version
        id: extract_version
        run: echo "version=$(echo ${{ github.ref }} | sed -e 's/^refs\/tags\/v//' -e 's/-.*//')" >> $GITHUB_ENV

      - name: Extract version code
        id: extract_version_code
        run: echo "version_code=$(git rev-list --count HEAD)" >> $GITHUB_ENV

      - name: Update Info.plist version and build number
        uses: damienaicheh/update-ios-version-info-plist-action@v1.0.0
        with:
          info-plist-path: 'ios/Runner/Info.plist'
          bundle-short-version-string: '${{ env.version }}'
          bundle-version: ${{ env.version_code }}
          print-file: true

      - name: Build IPA
        run: flutter build ipa --release --export-options-plist=ios/Runner/ExportOptions.plist

      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/ios/ipa/*.ipa"
          token: ${{ github.token }}
          commit: ${{ github.sha }}
          allowUpdates: true

      - name: Collect IPA artifacts
        uses: actions/upload-artifact@v4
        with:
          name: releaseipa
          path: build/ios/ipa/*.ipa

      # Important! Cleanup: remove the certificate and provisioning profile from the runner!
      - name: Clean up keychain and provisioning profile
        if: ${{ always() }}
        run: |
          security delete-keychain $RUNNER_TEMP/app-signing.keychain-db
          rm ~/Library/MobileDevice/Provisioning\ Profiles/build_pp.mobileprovision
          rm ~/Library/MobileDevice/Provisioning\ Profiles/se_build_pp.mobileprovision

  release_ios:
    name: Release IPA to TestFlight
    needs: [ build_ios ]
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Get IPA from artifacts
        uses: actions/download-artifact@v4
        with:
          name: releaseipa
          path: build/ios/ipa
      - name: Upload app to TestFlight
        uses: apple-actions/upload-testflight-build@v1
        with:
          app-path: build/ios/ipa/humhub.ipa
          issuer-id: ${{ secrets.APPSTORE_APP_API_ISSUER_ID }}
          api-key-id: ${{ secrets.APPSTORE_API_KEY_ID }}
          api-private-key: ${{ secrets.APPSTORE_APP_API_PRIVATE_KEY }}